@import components/mixins
*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 0.5px
    +media(768)
        font-size: 0.8px
    +media(1920)
        font-size: 1px

body 
    color: #191919
    font-family: Roboto
    font-size: 16rem
    font-weight: 400
    background: #F9F4F1

.flex-body
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 100vh
label
    position: relative
    display: block
    margin-bottom: 20rem
   
    span
        display: inline-block
        margin-bottom: 10rem
input
    width: 100%
    appearance: none
    outline: none
    padding: 18rem 10rem
    border-radius: 5rem
    border: 1px solid #999
    background: #F9F4F1

button
    display: block
    border: none
    cursor: pointer
ul
    list-style: none
a
    color: #191919
    text-decoration: none

a, button
    transition: all .5s ease
footer
    border-top: 3px solid #FFAF2E
#switchToLogin,
#switchToSignup
    font-weight: 500
    text-decoration: underline
    
.wrapper
    max-width: 80%
    margin: 0 auto 
    +media(768)
        margin: 0 auto
        width: 100%

.flex
    display: flex
    flex-wrap: wrap

.flex-between
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.justify-center
    justify-content: center

.items-center
    align-items: center

.gap
    column-gap: 20rem

.grid
    display: grid

.col_2
    +media(768)
        grid-template-columns: repeat(2, 1fr)

.tac
    text-align: center
.logo_foot_container,
.pay_container
    row-gap: 30rem
    justify-content: center
    +media(1024)
        justify-content: space-between
.logo_container 
    max-width: 750rem
    margin: 0 auto
    padding: 60rem 0
    h1
        font-size: 36rem
        font-weight: 300
        text-transform: uppercase

.black,
.black_cta
    color: #fff
    background-color: #191919

.button_block
    a
        padding: 25rem
        font-size: 30rem
        text-transform: uppercase
        &:hover
            color: #fff
            background-color: #191919

.hidden 
    display: none

.border_form
    margin-bottom: 50rem
    width: 100%
    max-width: 750rem
    border-radius: 10px
    border: 2px solid #191919
    overflow: hidden
    +media(1024)
        width: 28vw

.form
    padding: 15rem 20rem
    border-top: 2px solid #191919
    +media(1024)
        padding: 27rem 55rem 30rem
    button
        width: 100%
        margin-bottom: 25rem
        padding: 20rem
        font-size: 24rem
        font-weight: 500
        letter-spacing: 0.72px
        text-transform: uppercase
        border-radius: 10rem
        border: 2px solid #191919
        &:hover
            color: #191919
            background-color: #fff
            border: 2px solid #191919
.error
    position: absolute
    bottom: -30rem
    left: 0
    color: red

.button_form
    padding-top: 30rem  

.approve_container
    display: flex
    span
        margin: 0
        &:last-child
            a 
                font-weight: 500
                text-decoration: underline
.parent
    position: relative
    display: inline-block
    width: 20px
    height: 20px
    input
        padding: 0
        width: 20px
        height: 20px
        border-radius: 2px
        outline: 1px solid #191919
        border: 2px solid #fff
        &:checked
            background-color: #191919

.bottom_text
    padding: 0 0 100rem
    span
        font-weight: 500
//evalnation
.card_container
    padding: 50rem 0 50rem
    row-gap: 20rem
    justify-content: center
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))

.card
    position: relative
    max-width: 288px
    border-radius: 15rem
    border: 1px solid #191919
    background: #F9F4F1
    overflow: hidden
    button
        position: relative
        width: 100%
        padding: 15rem
        color: #FFF
        font-size: 24rem
        font-weight: 500
        letter-spacing: 0.72px
        text-transform: uppercase
        z-index: 3

.mask
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 2
    &:hover
        ~ .hover-card
            transform: scale(1.05)
.hover-card 
    transition: all .5s ease
.description
    padding: 30rem 15rem
    font-weight: 600
    +media(1024)
        padding: 50rem 15rem
    +media(1920)
        padding: 50rem 75rem
    p
        text-transform: uppercase
        font-weight: 300
    h2
        padding: 20rem 0 15rem
        font-size: 42rem
        +media(1440)
            padding: 44rem 0 30rem
            font-size: 52rem
        +media(1920)
            font-size: 72rem

p.step
    font-size: 24rem
    font-weight: 600

.evaluation
    font-size: 26rem

.sub-price
    font-size: 36rem
.evalnation 
    margin-bottom: 80rem
    +media(1024)
        max-width: 30%
.eval_list
    li
        padding: 24rem 30rem 20rem
        border-bottom: 1px solid #191919
.bold
    text-align: right
    font-size: 24rem
    font-weight: 500
    text-transform: uppercase
//dashboard page
.gray_bg
    background: #E1E1E1
.wrapper_dash
    padding: 20rem 0 100rem
    width: 95%
    margin: 0 auto 
.new_order
    a
        display: block
        width: 210px
        padding: 20rem
        font-size: 24rem
        text-transform: uppercase
        border-radius: 10px
        border: 1px solid #191919
        &:hover
            background-color: #f9f4f1
            color: #191919
            border: 1px solid #191919

.sidebar
    button
        background-color: transparent
    a, button
        display: inline-block
        padding: 10rem 20rem
        border-radius: 5rem
        &:hover
            background-color: #e1e1e1
.navigation_sidebar 
    max-width: 80rem
    padding-bottom: 50rem
    border-bottom: 2px solid #E1E1E1
.personal_sidebar 
    padding-top: 20rem
.dash_grid 
    grid-template-columns: 15% 85%
    +media(768)
        grid-template-columns: 5% 95%
.col_3_dash
    gap: 20rem
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
.col_2_dash 
    grid-template-columns: 40% 60%

.bread
    gap: 10rem
    padding-bottom: 30rem
    a, span
        color: #999
        font-size: 16rem
        font-weight: 400
    .active_bread
        color: #191919
    
.dashboard
    h1
        padding-bottom: 20rem
        color: #FFAF2E
        text-transform: uppercase
    .bold_text,
    h1
        font-size: 36rem
        font-weight: 600

.gap_dash
    column-gap: 150rem
    padding-bottom: 17rem
.stan
    justify-content: center
    width: 70px
    height: 25px
    color: #999
    font-size: 12px
    font-weight: 400
    background-color: #e1e1e1
    border-radius: 5px

.buttons_head 
    a
        justify-content: center
        padding: 12rem 20rem 
        height: 35px
        background-color: #e1e1e1
        border-radius: 5px
        border: 1px solid #e1e1e1
        &:hover
            border-color: #000
.created 
    font-weight: 500
    margin-bottom: 30rem
    span
        color: #999
.profit_container,
.daily_container
    position: relative
    min-height: 120px
    padding: 20rem
    border-radius: 5px
    h2
        padding-bottom: 20rem
        font-weight: 600
.profit_price 
    p
        font-size: 24rem
        font-weight: 700
        span
            font-size: 18rem
            font-weight: 500
.stopoutLevel,
.target
    p
        &:first-child
            padding-bottom: 10rem
            font-weight: 500
.target
    .flex
        gap: 5rem
.bold_price
    p
        font-size: 36rem
.info
    position: absolute
    top: 20rem
    right: 20rem
    &:hover
        .description_info 
            opacity: 1
.description_info 
    opacity: 0
    position: absolute
    top: -50%
    right: -50%
    width: 100%
    min-width: 360px
    padding: 8rem
    background-color: #c4c0c0
    border-radius: 5px
    transform: translate(50%, -110%)
    transition: all .5s ease
    z-index: 2
    &::before
        content: ""
        position: absolute
        top: 50%
        left: 45%
        border: 10px solid transparent
        border-top-color: #c4c0c0
        transform: translate(-50%, 100%) rotate(0deg)
.profit
    .description_info 
        right: 0
        transform: translate(7%, -110%)
        &::before
            left: 90%
.bord
    position: relative
    display: block
    span
        position: absolute
        top: 45%
        left: 0
        width: 100%
        &::after,
        &::before
            content: ""
            position: absolute
        &::after
            top: 45%
            left: 50%
            width: 4px
            height: 12px
            background-color: #fff 
            transform: translate(-50%, -50%)
        &::before
            top: 45%
            left: 0
            width: 50%
            height: 2.5px
            transform: translateY(-49%)
            background-color: #fff
            
#radius,
#radius-2 
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    padding: 0
    height: 22px
    border: none
    overflow: hidden
    background-color: #191919


#radius,
#radius-2
    &::-webkit-slider-thumb 
        -webkit-appearance: none
        appearance: none
        background-color: #fff
        border: 0px solid #fff
        border-radius: 50%
        height: 14px
        width: 14px
        margin-top: -7px
        box-shadow: calc(-100vmax - 14px) 0 0 100vmax #fff
        clip-path: polygon(100% 0, 2px 0, 0 7px, -100vmax 4px, -100vmax 9px, 0 9px, 2px 100%, 100% 100%)
#radius-2
    &::-webkit-slider-thumb 
        box-shadow: calc(-100vmax - 14px) 0 0 100vmax #fff
        clip-path: polygon(100% 0, 2px 0, 0 7px, -100vmax 4px, -100vmax 9px, 0 9px, 2px 100%, 100% 100%)

#radius,
#radius-2
    &::-moz-range-thumb 
        -moz-appearance: none
        appearance: none
        background-color: #fff
        border: 0px solid #fff
        border-radius: 50%
        height: 14px
        width: 14px
        margin-top: -7px

#radius,
#radius-2
    &::-webkit-slider-runnable-track 
        height: 2px
        border-radius: 4px
        border: 0px solid #fff
        box-shadow: 0px 0px 0px #353535
        background: #999
//statistic
.statistic_container 
    display: flex
    flex-direction: column
    gap: 20rem
    padding-top: 70rem
    .gap
        gap: 20rem
.statistic_el
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: stretch
    position: relative
    min-height: 130px
    padding: 20rem
    border: 1px solid #191919
    border-radius: 5px
    &:first-child,
    &:nth-child(2)
        min-height: 120px
        
//history
.table_history_container,
.table_daily_container
    h2
        padding-top: 30rem
        font-size: 36rem
        font-weight: 600
    table
        width: 100%
        border-collapse: collapse
        text-align: center
        .negative
            color: #999
    
.table_history
    overflow-x: scroll
    table
        border-radius: 5px 5px 0 0
        overflow: hidden
        background-color: #191919
    thead
        background-color: #F9F4F1
        text-transform: uppercase
        border: 1px solid #191919
        th
            padding: 20rem
            + th 
                border-left: 1px solid #191919
    tbody
        td
            color: #fff
            padding: 20rem
            border-bottom: 1px solid #F9F4F1

.buy,
.sell
    span
        justify-content: center
        width: 60px
        height: 25px
        color: #191919
        background-color: #fff
        border-radius: 5px
.sell
    span
        border: 1px solid #fff
        color: #fff
        background-color: #999
.table_daily
    thead
        color: #fff
        background-color: #191919
    th, td
        padding: 25rem
        max-width: 25%  
        text-transform: uppercase
    td
        border-bottom: 1px solid #191919
//footer
.footer
    position: relative
    padding: 70rem 0 30rem
.fixed_logo 
    position: absolute
    top: 2%
    left: 50%
    transform: translate(-50%, -50%)
.pay_container
    gap: 50rem
    a
        display: block
        width: 130rem
        height: 30px
.visa
    background: url(../img/visa.png) no-repeat center/contain
.mc
    background: url(../img/mc.png) no-repeat center/contain
.apay
    background: url(../img/apay.png) no-repeat center/contain
.netteler
    background: url(../img/netteler.png) no-repeat center/contain
.gpay
    background: url(../img/gpay.png) no-repeat center/contain
.copy
    padding-top: 30rem