.card.tac
    a(href="#").mask 
    .hover-card
        .description
            p.step 2-step
            p.evaluation evaluation
            h2.price 5k$
            p.sub-price 36$
.card.tac
    a(href="#").mask 
    .hover-card
        .description
            p.step 2-step
            p.evaluation evaluation
            h2.price 10k$
            p.sub-price 70$
.card.tac
    a(href="#").mask 
    .hover-card
        .description
            p.step 2-step
            p.evaluation evaluation
            h2.price 25k$
            p.sub-price 160$ 
.card.tac
    a(href="#").mask 
    .hover-card
        .description
            p.step 2-step
            p.evaluation evaluation
            h2.price 50k$
            p.sub-price 270$
.card.tac
    a(href="#").mask 
    .hover-card
        .description
            p.step 2-step
            p.evaluation evaluation
            h2.price 100k$
            p.sub-price 525$

