.table_daily_container
    h2 Daily Summary
    .table_daily
        table
            thead
                tr
                    th date
                    th trades
                    th lots
                    th result
            tbody
                tr
                    td 3/13/2025
                    td 4
                    td 2.58
                    td.positive +$51.6
                tr
                    td 3/13/2025
                    td 4
                    td 2.58
                    td.negative -$51.6
                tr
                    td 3/13/2025
                    td 4
                    td 2.58
                    td.positive +$51.6
                tr
                    td 3/13/2025
                    td 4
                    td 2.58
                    td.negative -$51.6