ul.eval_list 
    li.flex-between.items-center
        span.tiny Max tranding period
        span.bold unlimited
    li.flex-between.items-center
        span.tiny Minimum Profitable Days
        span.bold 3
    li.flex-between.items-center
        span.tiny Max Daily Loss
        span.bold 5%
    li.flex-between.items-center
        span.tiny Max Loss
        span.bold 10%
    li.flex-between.items-center
        span.tiny Profit Target
        span.bold step 1 - 10%, step 2 - 5%
    li.flex-between.items-center
        span.tiny Profit Share
        span.bold 80/20%