.table_history_container
    .table_history
        table
            thead 
                tr 
                    th id
                    th amount
                    th status
                    th payment date
            tbody 
                tr
                    td Lorem, ipsum dolor.
                    td Iste, ab doloribus?
                    td Labore, ipsa voluptates!
                    td Quis, praesentium illo?
                tr
                    td Lorem, ipsum dolor.
                    td Fuga, dignissimos odit!
                    td Doloribus, consequatur eveniet!
                    td Vel, optio atque.
                tr
                    td Lorem, ipsum dolor.
                    td Veritatis, cupiditate velit.
                    td Dolores, repellendus id.
                    td Quis, minus nemo!
                tr
                    td Lorem, ipsum dolor.
                    td Voluptate, magni fuga.
                    td Quia, architecto omnis.
                    td Autem, aperiam maiores.
                tr
                    td Lorem, ipsum dolor.
                    td Excepturi, totam fugit?
                    td Beatae, aperiam voluptatem!
                    td Quis, esse modi!
                tr
                    td Lorem, ipsum dolor.
                    td Enim, placeat earum.
                    td Molestiae, autem inventore?
                    td In, magnam aut.