.table_history
    h2 Trading history
    table
        thead
            tr
                th Symbol
                th type
                th open date
                th open
                th closed date
                th close
                th TP
                th SL
                th lots
                th Commission
                th Profit
        tbody
            tr
                td eurusd
                td.buy buy
                td 14,2025 10:07 am
                td 1.08439
                td Mar 14, 2025 11:51 AM
                td 1.0853
                td 1.08781
                td 1.08304
                td 0.58
                td -1.16
                td.positive +$51.6
            tr
                td eurusd
                td.sell sell
                td 14,2025 10:07 am
                td 1.08439
                td Mar 14, 2025 11:51 AM
                td 1.0853
                td 1.08781
                td 1.08304
                td 0.58
                td -1.16
                td.negative -$51.6