.border_form 
    .button_block.reg_cta.grid.col_2 
        a(href="login_page.html").black_cta log in
        a(href="sign up.html") Sign up
    form(action="#").border_form
        div
            label
                | Your email*
                input(type="email" placeholder="nameofemail@gmail.com" required)
                span.error
        div
            label
                | Password*
                input(type="password" placeholder="************" required)
                span.error
        button.black_cta(type="submit") log in
        .tac 
            span Dont have an account? 
                a(href="index.html") Sign up


            
