doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="css/style.css")
        title 
    body.flex-body
        header.eval_header
            h1.flex.items-center.justify-center.gap.tac
                <svg xmlns="http://www.w3.org/2000/svg" width="68" height="65" viewBox="0 0 68 65" fill="none">
                    <g clip-path="url(#clip0_298_531)">
                        <path d="M26.1821 21.7484V26.9403L26.1006 27.6352C26.1006 27.6761 26.1006 27.6761 26.0599 27.717C26.0599 27.717 26.0192 27.7579 25.9785 27.7579C25.9378 27.7579 25.9378 27.7579 25.897 27.7579C25.8563 27.7579 25.8563 27.717 25.8563 27.717L25.4899 27.1038C25.4899 27.0629 25.4491 27.0629 25.4491 27.0629C25.1234 26.8585 24.9198 26.695 24.7976 26.6132C22.7617 23.7925 20.4408 20.6855 17.9162 17.2516C17.9162 17.2107 17.8755 17.2107 17.8755 17.1698C17.8755 17.1289 17.8755 17.1289 17.9162 17.0881C17.9162 17.0881 17.9569 17.0472 17.9976 17.0472C18.0384 17.0472 18.0384 17.0472 18.0791 17.0472L25.8156 21.4623C25.8563 21.5031 25.897 21.5031 25.9378 21.544L26.1821 21.7484Z" fill="#5F5F5F"/>
                        <path d="M26.1414 46.9308V53.3491C25.9378 53.1855 25.7342 52.9811 25.5306 52.695C25.4899 52.6541 25.4899 52.6132 25.4492 52.6132C25.4084 52.5723 25.3677 52.5723 25.327 52.5723C25.1234 52.5723 24.9605 52.4906 24.8384 52.3679C21.2959 49.4654 15.7174 44.9277 8.06234 38.7547C6.8815 37.8145 4.51982 35.7296 2.97252 34.5849C2.80964 34.4623 2.68749 34.4623 2.56533 34.5849C2.52461 34.6258 2.48389 34.6258 2.44318 34.6258C2.40246 34.6258 2.36174 34.6258 2.32102 34.5849C2.23958 34.544 2.15815 34.544 2.11743 34.5849L0.61084 32.827C0.651558 32.7044 0.732996 32.6226 0.814433 32.6226C1.01803 32.6226 1.1809 32.7044 1.34377 32.7862C9.65036 37.5283 17.9162 42.2296 26.1414 46.9308Z" fill="#5F5F5F"/>
                        <path d="M26.1414 53.3491V64.673V64.7138L26.1007 64.7547H26.0599H26.0192L13.8444 57.8459C13.7629 57.805 13.7222 57.7642 13.6815 57.6824C13.6408 57.6006 13.6408 57.5597 13.6408 57.478V48.3616C13.6408 48.1164 13.5593 47.912 13.3965 47.7484L2.11743 34.5849C2.19887 34.544 2.28031 34.544 2.32102 34.5849C2.36174 34.6258 2.40246 34.6258 2.44318 34.6258C2.4839 34.6258 2.52462 34.6258 2.56534 34.5849C2.68749 34.5031 2.80965 34.5031 2.97252 34.5849C4.56055 35.7296 6.8815 37.7736 8.06234 38.7547C15.7174 44.9277 21.2959 49.4654 24.8384 52.3679C24.9605 52.4906 25.1234 52.5314 25.327 52.5723C25.3677 52.5723 25.4084 52.5723 25.4492 52.6132C25.4899 52.6541 25.5306 52.6541 25.5306 52.695C25.6935 52.9811 25.8971 53.1855 26.1414 53.3491Z" fill="url(#paint0_linear_298_531)"/>
                        <path d="M67.9594 39.695V40.3491L67.5929 40.3899C67.5115 40.3899 67.43 40.4308 67.3486 40.5126C63.7246 44.478 60.0192 48.5252 56.2731 52.6132C56.1917 52.695 56.0695 52.7767 55.9474 52.7767C55.8252 52.7767 55.7031 52.7767 55.5809 52.695C55.4995 52.6541 55.4181 52.7358 55.3366 52.9403L55.2959 46.8899L67.9594 39.695Z" fill="#5F5F5F"/>
                        <path d="M68 40.3491V57.5598C68 57.6006 68 57.6824 67.9593 57.7233C67.9186 57.7642 67.8778 57.805 67.8371 57.8459L55.6623 64.7547C55.6216 64.7547 55.6216 64.7547 55.5808 64.7547C55.5401 64.7547 55.5401 64.7547 55.4994 64.7138C55.4587 64.7138 55.4587 64.673 55.4587 64.673C55.4587 64.6321 55.4587 64.6321 55.4587 64.5912L55.418 52.9403C55.4994 52.7359 55.5808 52.6132 55.6623 52.695C55.7844 52.7767 55.9066 52.7767 56.0287 52.7767C56.1509 52.7767 56.2731 52.695 56.3545 52.6132C60.1006 48.5252 63.806 44.478 67.4299 40.5126C67.4707 40.4308 67.5521 40.3899 67.6743 40.3899L68 40.3491Z" fill="url(#paint1_linear_298_531)"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.9377 21.5031L26.1413 21.7484L40.515 29.8019C40.5557 29.8019 40.5557 29.8428 40.5964 29.8428C40.6371 29.8428 40.6778 29.8428 40.7186 29.8428C40.8 29.8428 40.8407 29.8428 40.9222 29.8019L67.7964 14.5943C67.8778 14.5535 67.9186 14.5126 67.9593 14.4308C68 14.3491 68 14.3082 68 14.2264V4.57862H59.6527L40.9629 15.1258C40.8814 15.1667 40.8 15.2075 40.7186 15.2075C40.6371 15.2075 40.5557 15.1667 40.4743 15.1258L13.7222 0C13.7222 0 13.6814 0 13.6407 0H13.6C13.6 0 13.6 0 13.5593 0L13.5186 0.0408805C13.5186 0.0408805 13.5186 0.081761 13.5186 0.122642V27.6761V31.3145C13.5186 31.3553 13.5186 31.3962 13.4778 31.3962C13.4371 31.4371 13.3964 31.4371 13.3964 31.4371L0.0407186 32.0503C0.0407186 32.0503 0.0407186 32.0503 0 32.0503C0.162874 32.3365 0.366467 32.5818 0.610778 32.7862C0.651497 32.6635 0.732934 32.5818 0.814371 32.5818C1.01796 32.5818 1.18084 32.6635 1.34371 32.7453C9.69102 37.4874 17.9569 42.1887 26.182 46.8899L40.6371 55.1069C40.6778 55.1478 40.7186 55.1478 40.7593 55.1478C40.8 55.1478 40.8407 55.1478 40.8814 55.1069L55.3772 46.8899L68.0407 39.695V25.305V25.2642C68.0407 25.2642 68.0407 25.2233 68 25.2233C68 25.2233 68 25.2233 67.9593 25.2233C67.9593 25.2233 67.9593 25.2233 67.9186 25.2233C67.9186 25.2233 67.9186 25.2233 67.8778 25.2233L40.8814 40.4717C40.8407 40.5126 40.8 40.5126 40.7593 40.5126C40.7186 40.5126 40.7186 40.5126 40.6778 40.5126C40.6371 40.5126 40.6371 40.5126 40.5964 40.4717L26.3449 32.4182C26.3042 32.3774 26.2635 32.3365 26.2228 32.2956C26.182 32.2547 26.182 32.173 26.182 32.1321V28.2076V26.9403L26.1006 27.6352V27.6761C26.1006 27.6761 26.1006 27.717 26.0599 27.717C26.0599 27.717 26.0192 27.7579 25.9784 27.7579C25.9377 27.7579 25.9377 27.7579 25.9377 27.7579C25.9377 27.7579 25.897 27.7579 25.897 27.717C25.897 27.717 25.897 27.717 25.897 27.6761L25.5305 27.0629C25.5305 27.022 25.4898 27.022 25.4898 27.022C25.3269 26.9403 25.2048 26.8585 25.1234 26.7767C25.0012 26.695 24.9198 26.6132 24.879 26.5723C22.8431 23.7516 20.5222 20.6447 17.9976 17.2107C17.9976 17.1698 17.9569 17.1698 17.9569 17.1289C17.9569 17.0881 17.9569 17.0881 17.9976 17.0472L18.0383 17.0063C18.0383 17.0063 18.0383 17.0063 18.079 17.0063C18.1198 17.0063 18.1198 17.0063 18.1605 17.0063L25.897 21.4214C25.897 21.4623 25.9377 21.5031 25.9377 21.5031Z" fill="url(#paint2_linear_298_531)"/>
                    </g>
                    <defs>
                        <linearGradient id="paint0_linear_298_531" x1="14.1201" y1="34.5192" x2="14.1201" y2="64.7788" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white"/>
                        <stop offset="1" stop-color="#6C6C6C"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_298_531" x1="61.6829" y1="40.3631" x2="61.6829" y2="64.7674" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white"/>
                        <stop offset="1" stop-color="#6C6C6C"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear_298_531" x1="34" y1="0" x2="34" y2="55.1715" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white"/>
                        <stop offset="1" stop-color="#6C6C6C"/>
                        </linearGradient>
                        <clipPath id="clip0_298_531">
                        <rect width="68" height="65" fill="white"/>
                        </clipPath>
                    </defs>
                    </svg> 
                | choose your evaluation:
        main.eval_wrapper.flex.items-center
            .wrapper.grid.card_container.gap
                include components/card
            .wrapper.evalnation 
                include components/evalnation
        footer 
            include components/footer
        script(src="js/scripts.js") 